h3{border:2px solid blue }

#thirdDiv 
{
  height: 600px;
  width: 500px;
  background-color: chartreuse;
}

#spanId 
{
  font-size: 18px;
  margin: 50px;
  padding: 50px;
  border: 30px blue;  
}

.divClass
{
background-color:cornflowerblue;
}
